<section id="blogs">
    <div class="container">
        <h2 class="section-title">{{ translation.blogs.TITLE }}</h2>
        <div class="section-container">
            {{#if blogposts}}
                {{#each blogposts}}
                <div class="blog">
                    <div class="image">
                        <div class="img-container">
                            <img src="{{img}}" alt="Featured image">
                        </div>
                    </div>
                    <a class="blog-link" href="{{link}}" target="_blank">
                        <h3>{{ title.rendered }}</h3>
                    </a>
                </div>
                {{/each}}
            {{else}}
                <p class="flash flash-error">{{ messages.error }}</p>
            {{/if}}
        </div>
        <div class="buttons text-center">
            <a onclick="flexjungleBlogLink()" class="btn-secondary">
                Bekijk alle blogposts
            </a>
            <a onclick="flexjungleNewsLink()" class="btn-secondary">
                Laatste nieuws
            </a>
            <a onclick="flexjungleDownloadLink()" class="btn-secondary">
                Bekijk al onze downloads
            </a>
        </div>
    </div>
</section>