<section id="contact">
    <div class="container">
        <h2 class="section-title">{{ translation.menu-items.CONTACT }}</h2>
        <div class="section-container">
            {{#if messages.success}}
                <p class="flash flash-success">{{ translation.contact-section.SEND_SUCCESS }}</p>
            {{/if}}
            <form id="contactform" method="POST" action="send">
                <div class="form-group">
                    <label for="name">{{ translation.contact-section.NAME }}</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="email">{{ translation.contact-section.EMAIL }}</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="subject">{{ translation.contact-section.SUBJECT }}</label>
                    <input type="text" id="subject" name="subject">
                </div>
                <div class="form-group">
                    <label for="msg">{{ translation.contact-section.MSG }}</label>
                    <textarea name="msg" id="msg"></textarea>
                </div>
                <p class="antispam">Leave this empty: <input type="text" name="url"></p>
                <input type="submit" class="btn-complementary-xl" value="{{ translation.contact-section.SUBMIT }}">
            </form>
        </div>
    </div>
</section>