<nav id="navbar" class="supplier">
    <div class="left-menu">
        <a class="logo" href="/"><h2>FlexForceMonkey</h2></a>
    </div>
    <div class="right-menu">
        <div class="mobile-toggle" onclick="toggleMobileMenu()">
            <div class="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="menu-items">
            <li class="menu-item menu-item-1">
                <a onclick="menuScroll('#supplier-intro')">{{ translation.menu-items.WHAT_WE_DO }}</a>
            </li>
            <li class="menu-item menu-item-2">
                <a href="/sluitjeaan">{{ translation.menu-items.KIT }}</a>
            </li>
            <li class="menu-item menu-item-4">
                <a onclick="menuScroll('#blogs')">Blogs & Downloads</a>
            </li>
            <li class="menu-item menu-item-3">
                <a onclick="menuScroll('#contact')">{{ translation.menu-items.CONTACT }}</a>
            </li>
            <li class="menu-item menu-item-5">
                <div class="dropdown">
                    <a>{{ translation.menu-items.NOT_A_SUPPLIER }} <span class="fa fa-caret-down"></span></a>
                    <ul class="dropdown-menu">
                        <li class="item hirer"><a href="./hirer">{{ translation.footer.HIRER }}</a></li>
                        <li class="item freelancer"><a href="./freelancer">{{ translation.footer.FREELANCER }}</a></li>
                    </ul>
                </div>
            </li>
            <li id="language" class="menu-item menu-item-6 lang"></li>
            <li class="menu-item menu-item-2">
                <a class="btn-light-grey" href="https://app.flexforcemonkey.com/home" target="_blank">Log in</a>
            </li>
        </ul>
    </div>
</nav>