<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time to innovate your Flex Force - FlexForceMonkey</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">
    <link rel="stylesheet" href="./public/css/normalize.css">
    <link rel="stylesheet" href="./public/css/style.css">
    <!-- FONT AWESOME -->
    <script defer src="./public/js/fontawesome-all.min.js"></script>
    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="./public/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./public/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./public/favicons/favicon-16x16.png">
    <link rel="manifest" href="./public/favicons/site.webmanifest">
    <link rel="mask-icon" href="./public/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="./public/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="./public/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- OPEN GRAPH SOCIAL MEDIA -->
    <!-- COOKIE CONSENT -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            palette: {
                popup: {
                    background: "#2b2b2b",
                    text: "#ffffff"
                },
                button: {
                    background: "#0482b3",
                    text: "#ffffff"
                }
            },
            container: document.getElementById("cookie"),
            theme: "edgeless",
            position: "bottom-left",
            content: {
                message: "{{ translation.cookie.BANNER_TEXT }}",
                dismiss: "{{ translation.cookie.DISMISS }}",
                link: "{{ translation.cookie.LEARN_MORE }}"
            },
            onPopupOpen: function() {
                document.getElementById("cookie").style.display = "block";
            },
            onPopupClose: function() {
                document.getElementById("cookie").style.display = "none";
            }
        });
    });
    </script>
</head>
<body>
    <div id="cookie"></div>
    <nav id="navbar">
        <div class="left-menu">
            <a class="logo" href=""><h2>FlexForceMonkey</h2></a>
        </div>
        <div class="right-menu">
            <div class="mobile-toggle">
                <div class="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="menu-items">
                <li class="menu-item menu-item-1">
                    <a onclick="menuScroll('#promises')">{{ translation.menu-items.PROMISES }}</a>
                </li>
                <li class="menu-item menu-item-2">
                    <a onclick="menuScroll('#our-story')">{{ translation.menu-items.STORY }}</a>
                </li>
                <li class="menu-item menu-item-3">
                    <a onclick="menuScroll('#how-it-works')">{{ translation.menu-items.HOW_WORK }}</a>
                </li>
                <li class="menu-item menu-item-4">
                    <a href="http://flexjungle.flexforcemonkey.com" target="_blank">{{ translation.menu-items.BLOG }} <span class="fa fa-external-link-alt"></span></a>
                </li>
                <li class="menu-item menu-item-5">
                    <a onclick="menuScroll('#contact')">{{ translation.menu-items.CONTACT }}</a>
                </li>
                <li class="menu-item menu-item-6">
                    <div class="dropdown">
                        <a>{{ translation.menu-items.ROLES }} <span class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu">
                            <li class="item hirer"><a href="./hirer">{{ translation.choice.HIRER }}</a></li>
                            <li class="item supplier"><a href="./supplier">{{ translation.choice.SUPPLIER }}</a></li>
                            <li class="item interim"><a href="./interim">{{ translation.choice.INTERIM }}</a></li>
                            <li class="item freelancer"><a href="./freelancer">{{ translation.choice.FREELANCER }}</a></li>
                            <li class="item curious"><a href="./curious">{{ translation.choice.CURIOUS }}</a></li>
                        </ul>
                    </div>
                </li>
                <li id="language" class="menu-item menu-item-7 lang"></li>
            </ul>
        </div>
    </nav>

    {{{body}}}

    {{> newsletter}}

    <footer id="footer">
        <div class="container">
            <div class="footer-block text-center">
                <p>FlexForceMonkey is powered by AGAIN by LAKRAN</p>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="./public/js/js-cookie.js"></script>
    <script src="./public/js/script.js"></script>
</body>
</html>