<section id="database">
    <div class="container">
        <h2 class="section-title">Database</h2>
        <div class="section-container">
            <div class="contact">
                <h5 class="table-title">{{ translation.database.CONTACTFORMS }}</h5>
                <button class="btn-primary" onclick="getContactData()">{{ translation.database.GET_CONTACT_DATA }}</button>
               
                <!-- IE < 10 does not like giving a tbody a height.  The workaround here applies the scrolling to a wrapped <div>. -->
                <!--[if lte IE 9]>
                <div class="old_ie_wrapper">
                <!--<![endif]-->
                <table id="contactTable" class="table fixed-table-header">
                    <thead>
                        <tr>
                            <th>{{ translation.contact-section.NAME }}</th>
                            <th>{{ translation.contact-section.EMAIL }}</th>
                            <th>{{ translation.database.DATE }}</th>
                            <th>{{ translation.contact-section.SUBJECT }}</th>
                            <th>{{ translation.contact-section.MSG }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <!--[if lte IE 9]>
                </div>
                <!--<![endif]-->
            </div>
        </div>
    </div>
</section>