{{> base-nav}}

<section id="feedback" class="full-screen">
    <div class="container text-center">
        {{#if score}}
            <div class="givenscore">
                {{#iff score '==' 4}}
                    <h2 class="section-title">{{ translation.feedback.THANKS }}</h2>
                    <p class="sub-title">{{ translation.feedback.FORGIVINGSCORE }}</p>
                    <img src="../public/images/feedback/very-happy-monkey.png" alt="Very happy">
                {{/iff}}
                {{#iff score '==' 3}}
                    <h2 class="section-title">{{ translation.feedback.THANKS }}</h2>
                    <p class="sub-title">{{ translation.feedback.FORGIVINGSCORE }}</p>
                    <img src="../public/images/feedback/happy-monkey.png" alt="Happy">
                {{/iff}}
                {{#iff score '==' 2}}
                    <h2 class="section-title">{{ translation.feedback.THANKS }}</h2>
                    <p class="sub-title">{{ translation.feedback.SORRY2 }} <a href="/integration-services#contact">{{ translation.feedback.CONTACTUS }}</a></p>
                    <img src="../public/images/feedback/not-happy-monkey.png" alt="Not happy">
                {{/iff}}
                {{#iff score '==' 1}}
                    <h2 class="section-title">{{ translation.feedback.THANKS }}</h2>
                    <p class="sub-title">{{ translation.feedback.SORRY }} <a href="/integration-services#contact">{{ translation.feedback.CONTACTUS }}</a></p>
                    <img src="../public/images/feedback/angry-monkey.png" alt="Angry">
                {{/iff}}
            </div>
            <div class="backhome text-center">
                <a href="/" class="btn-complementary-xl"><span class="fa fa-home"></span> {{ translation.feedback.BACKHOME }}</a>
            </div>
        {{else}}
            <h2 class="section-title">{{ translation.feedback.THINKABOUT }}</h2>
            <p class="sub-title">{{ translation.feedback.GIVESCORE }}</p>
            <div class="smilies">
                <a href="/feedback?score=4" class="smily veryhappy">
                    <img src="../public/images/feedback/very-happy-monkey.png" alt="Very happy">
                    <p>{{ translation.feedback.VERYHAPPY }}</p>
                </a>
                <a href="/feedback?score=3" class="smily happy">
                    <img src="../public/images/feedback/happy-monkey.png" alt="Happy">
                    <p>{{ translation.feedback.HAPPY }}</p>
                </a>
                <a href="/feedback?score=2" class="smily nothappy">
                    <img src="../public/images/feedback/not-happy-monkey.png" alt="Not happy">
                    <p>{{ translation.feedback.NOTHAPPY }}</p>
                </a>
                <a href="/feedback?score=1" class="smily angry">
                    <img src="../public/images/feedback/angry-monkey.png" alt="Angry">
                    <p>{{ translation.feedback.ANGRY }}</p>
                </a>
            </div>
        {{/if}}
    </div>
</section>