{{> freelancer-nav}}

<section id="hero" class="freelancer">
    <div class="hero-title">
        <h1>
            {{ translation.freelancer.HERO_TEXT }}
        </h1>
    </div>
</section>

<section id="freelancer-intro-1">
    <div class="container">
        <h2 class="section-title">{{ translation.freelancer.INTRO_TITLE }}</h2>
        <div class="section-container">
            <p class="sub-title">{{ translation.freelancer.INTRO_SUBTITLE }}</p>
            <div class="section-text">
                <p>{{ translation.freelancer.INTRO_TEXT_1 }}</p>
                <button class="btn-secondary-xl">{{ translation.freelancer.CTA_1 }}</button>
            </div>
            <img src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
        </div>
    </div>
</section>

<section id="freelancer-intro-2">
    <div class="container">
        <div class="section-container">
            <img src="./public/images/computeraap.png" alt="Computer Monkey">
            <div class="section-text">
                <p>{{ translation.freelancer.INTRO_TEXT_2 }}</p>
                <p>{{ translation.freelancer.INTRO_TEXT_3 }}</p>
                <p>{{ translation.freelancer.INTRO_TEXT_4 }}</p>
                <p>{{ translation.freelancer.INTRO_TEXT_5 }}</p>
                <button class="btn-secondary-xl">{{ translation.freelancer.CTA_1 }}</button>
            </div>
        </div>
    </div>
</section>

<section id="freelancer-options-1" class="hirer-options">
    <div class="container">
        <h2 class="section-title">{{ translation.freelancer.DIFFERENT_OPTIONS }}</h2>
        <div class="section-container">
            <p class="sub-title">{{ translation.freelancer.OPTIONS }}</p>
            <div class="section-text">
                <p class="section-text">{{ translation.freelancer.OPTION_1 }}</p><br /><br /><br /><br /><br /><br /><br />
                <button class="btn-secondary-xl">{{ translation.freelancer.CTA_1 }}</button>
            </div>
            <img src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
        </div>
    </div>
</section>

<section id="freelancer-options-2" class="hirer-options">
    <div class="container">
        <div class="section-container">
            <img src="./public/images/computeraap.png" alt="Computer Monkey">
            <div class="section-text">
                <p>{{ translation.freelancer.OPTION_2 }}</p>
                <button class="btn-secondary-xl">{{ translation.freelancer.CTA_1 }}</button>
            </div>
        </div>
    </div>
</section>

{{> contact}}