{{> freelancer-nav}}

<section id="hero" class="freelancer">
    <div class="hero-title">
        <h1>{{ translation.freelancer.HERO_TEXT }}</h1>
    </div>
</section>

<section id="freelancer-intro" class="full-screen">
    <div class="container">
        <h2 class="section-title">{{ translation.freelancer.INTRO_TITLE }}</h2>
        <div class="section-container">
            <p class="sub-title">{{ translation.freelancer.INTRO_SUBTITLE }}</p>
            <div class="section-text">
                <p>{{ translation.freelancer.INTRO_TEXT_1 }}</p>
                <p>{{ translation.freelancer.INTRO_TEXT_2 }}</p>
                <button class="btn-light-grey-xl">{{ translation.mailchimp.SUBSCRIBE_TO }}</button>
            </div>
            <img src="./public/images/computeraap.png" alt="Computer Monkey">
        </div>
    </div>
</section>

<section id="try" class="full-screen">
    <div class="container">
        <h2 class="section-title">{{ translation.freelancer.TRY_TITLE }}</h2>
        <div class="section-container">
            <p class="sub-title">{{ translation.freelancer.TRY_SUBTITLE }}</p>
            <div class="section-text">
                <p>{{ translation.freelancer.TRY_TEXT }}</p>
                <button class="btn-complementary-xl">{{ translation.freelancer.CTA_1 }}</button>
            </div>
        </div>
    </div>
    <img src="./public/images/stekker-aap.png" alt="{{ translation.freelancer_TRY_TITLE }}">
</section>

{{> contact}}