{{> hirer-nav}}

<section id="hero" class="hirer">
    <div class="hero-title">
        <h1>
            {{ translation.hirer.HERO_TEXT }}
        </h1>
    </div>
</section>

<section id="hirer-intro-1" class="hirer-intro">
    <div class="container">
        <h2 class="section-title">{{ translation.hirer.INTRO_TITLE }}</h2>
        <div class="section-container">
            <p class="sub-title">{{ translation.hirer.INTRO_SUBTITLE }}</p>
            <div class="section-text">
                <p>{{ translation.hirer.INTRO_TEXT_1 }}</p>
                <button class="btn-secondary-xl">{{ translation.contact-section.MAKE_CONTACT }}</button>
            </div>
            <img src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
        </div>
    </div>
</section>

<section id="hirer-intro-2" class="hirer-intro">
    <div class="container">
        <div class="section-container">
            <img src="./public/images/computeraap.png" alt="Computer Monkey">
            <div class="section-text">
                <p>{{ translation.hirer.INTRO_TEXT_2 }}</p>
                <p>{{ translation.hirer.INTRO_TEXT_3 }}</p>
                <p>{{ translation.hirer.INTRO_TEXT_4 }}</p>
                <p>{{ translation.hirer.INTRO_TEXT_5 }}</p>
                <button class="btn-secondary-xl">{{ translation.mailchimp.SUBSCRIBE_TO }}</button>
            </div>
        </div>
    </div>
</section>

<section id="hirer-options-1" class="hirer-options">
    <div class="container">
        <h2 class="section-title">{{ translation.hirer.DIFFERENT_OPTIONS }}</h2>
        <div class="section-container">
            <p class="sub-title">{{ translation.hirer.OPTIONS }}</p>
            <div class="section-text">
                <p class="section-text">{{ translation.hirer.OPTION_1 }}</p>
                <button class="btn-secondary-xl">{{ translation.contact-section.MAKE_CONTACT }}</button>
            </div>
            <img src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
        </div>
    </div>
</section>

<section id="hirer-options-2" class="hirer-options">
    <div class="container">
        <div class="section-container">
            <img src="./public/images/computeraap.png" alt="Computer Monkey">
            <div class="section-text">
                <p>{{ translation.hirer.OPTION_2 }}</p>
                <button class="btn-secondary-xl">{{ translation.mailchimp.SUBSCRIBE_TO }}</button>
            </div>
        </div>
    </div>
</section>

{{> contact}}