<section id="promises">
    <div class="container">
        <div class="text">
            <h2>{{ translation.home-intro.WHAT_WE_PROMISE }}</h2>
            <p>{{ translation.home-intro.PROMISE_TEXT }}</p>
        </div>
        <div class="row">
            <div class="column cloud">
                <span class="fa fa-cloud"></span>
                <h3 class="promise-title">{{ translation.home-intro.IN_THE_CLOUD }}</h3>
                <p class="promise-text">
                    {{ translation.home-intro.IN_THE_CLOUD_TEXT }}
                </p>
            </div>
            <div class="column cao">
                <span class="fa fa-users"></span>
                <h3 class="promise-title">{{ translation.home-intro.CLA_DATA }}</h3>
                <p class="promise-text">
                    {{ translation.home-intro.CLA_DATA_TEXT }}
                </p>
            </div>
            <div class="column bericht">
                <span class="fa fa-file"></span>
                <h3 class="promise-title">{{ translation.home-intro.MESSAGE_STANDARDS }}</h3>
                <p class="promise-text">
                    {{ translation.home-intro.MESSAGE_STANDARDS_TEXT }}
                </p>
            </div>
        </div>
    </div>
</section>