<section id="hero" class="home">
    <div class="hero-title">
        <h1>
            <span class="logo">FlexForceMonkey</span><br />
            <span class="sublogo">Systemintegration as a Service</span><br/>
            {{ translation.home.HERO_TEXT }}
        </h1>
    </div>
    <div class="monkey">
        {{> monkey}}
    </div>
    <div class="scrolldiv">
        <button id="inpage_scroll_btn" class="btn-primary standard-button inpage-scroll" onclick="menuScroll('#home-intro')">
            <span class="screen-reader-text">
                {{ translation.home.HERO_PARAGRAPH }}<br />
            </span>
            <span class="fa fa-angle-down"></span>
        </button>
    </div>
</section>

<section id="home-intro" class="full-screen">
    <div class="container">
        <h2 class="section-title">FlexForceMonkey</h2>
        <div class="section-container">
            <p>{{ translation.home.HOME_INTRO }}</p>
            <div class="buttons">
                <a href="/hirer" class="btn-complementary-xl">{{ translation.choice.HIRER }}</a>
                <a href="/supplier" class="btn-complementary-xl">{{ translation.choice.SUPPLIER }}</a>
                <a href="/freelancer" class="btn-complementary-xl">{{ translation.choice.FREELANCER }}</a>
            </div>
        </div>
    </div>
    <img class="small-screen" src="./public/images/stekker-aap-small.png" alt="{{ translation.freelancer_TRY_TITLE }}">
    <img class="normal-screen" src="./public/images/stekker-aap-normal.png" alt="{{ translation.freelancer_TRY_TITLE }}">
    <img class="big-screen" src="./public/images/stekker-aap-big.png" alt="{{ translation.freelancer_TRY_TITLE }}">
</section>

<!-- <section id="choose">
    <h2 class="section-title">{{ translation.home.CHOOSE_ROLE }}</h2>
    <div class="section-container">
        <div class="choices">
            <div class="choice hirer">
                <div class="content">
                    <h4>{{ translation.choice.HIRER }}</h4>
                    <a href="/hirer" class="btn-light-grey">{{ translation.choice.GO_TO_WEBSITE }}</a>
                </div>
            </div>
            <div class="choice supplier">
                <div class="content">
                    <h4>{{ translation.choice.SUPPLIER }}</h4>
                    <a href="/supplier" class="btn-light-grey">{{ translation.choice.GO_TO_WEBSITE }}</a>
                </div>
            </div>
            <div class="choice freelancer">
                <div class="content">
                    <h4>{{ translation.choice.FREELANCER }}</h4>
                    <a href="/freelancer" class="btn-light-grey">{{ translation.choice.GO_TO_WEBSITE }}</a>
                </div>
            </div>
        </div>
    </div>
</section> -->