{{> integration-nav}}

<section id="hero" class="hirer integration">
    <div class="hero-title">
        <h1>
            <strong>{{ translation.hirer.HERO_TEXT }}</strong> 
            <br />Join the collaborative flex experience!
        </h1>
    </div>
    <div class="iframe">
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/UUSmUoriNkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="hirer-intro" class="hirer-intro full-screen">
    <div class="container">
        <h2 class="section-title">{{ translation.hirer.INTRO_TITLE }}</h2>
        <div class="section-container">
            <div class="section-text scrollleft">
                <p>{{ translation.hirer.INTRO_TEXT }}</p>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">{{ translation.hirer.GET_CONTACT }}</button>
            </div>
            <img class="scrollright" src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
        </div>
    </div>
</section>

<div class="banner banner-hirer">
    <div class="banner-container animation-banner">
       <h1 class="banner-title title-1">{{ translation.general.FASTER }}</h1>
        <h1 class="banner-title title-2">{{ translation.general.FLEXIBLE }}</h1>
        <h1 class="banner-title title-3">{{ translation.general.CAREFREE }}</h1>
        <h1 class="banner-title title-4">{{ translation.general.OPTIMAL }}</h1>
    </div>
</div>

<section id="hirer-kit" class="full-screen">
    <div class="container">
        <h2 class="section-title">{{ translation.hirer.KIT_INTRO }}</h2>
        <div class="section-container">
            <img class="scrollleft" src="./public/images/stekkerdoos.png" alt="De FlexForceMonkey Aansluitbox">
            <div class="section-text scrollright">
                <p>{{ translation.hirer.KIT_TEXT }}</p>
            </div>
            <div class="text-center">
                <a class="btn-complementary-xl" onclick="menuScroll('#contact')">{{ translation.hirer.GET_KIT }}</a>
            </div>
        </div>
    </div>
</section>

<section id="hirer-options" class="full-screen">
    <div class="container">
        <h2 class="section-title">{{ translation.hirer.CONNECT }}</h2>
        <div class="section-container">
            <p class="sub-title">{{ translation.hirer.CONNECT_SUBTITLE }}</p>
            <div class="section-text scrollleft">
                <p>{{ translation.hirer.CONNECT_TEXT }}</p>
                <button class="btn-light-grey-xl" onclick="menuScroll('#contact')">{{ translation.hirer.GET_CONTACT }}</button>
            </div>
            <img class="scrollright" src="./public/images/computeraap.png" alt="Computer Monkey">
        </div>
    </div>
</section>

<section id="subscribe-ffm">
    <div class="container">
        <h2 class="section-title">{{ translation.hirer.SUBSCRIPTIONS }}</h2>
        <div class="section-container">
            <table class="table">
                <thead>
                    <tr>
                        <th width="44%"></th>
                        <th width="28%">Buyer</th>
                        <th width="28%">Seller</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ translation.hirer.table.HRDATA }}</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>{{ translation.hirer.table.ASSDATA }}</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>{{ translation.hirer.table.TSDATA }}</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td>&euro; 0,25 {{ translation.hirer.table.PERTS }}</td>
                    </tr>
                    <tr>
                        <th>{{ translation.hirer.table.INVDATA }}</th>
                        <td><span class="fa fa-check green"></span></td>
                        <td><span class="fa fa-check green"></span></td>
                    </tr>
                    <tr>
                        <th>{{ translation.hirer.table.ONB }}</th>
                        <td>{{ translation.hirer.table.FREE }}</td>
                        <td>{{ translation.hirer.table.FREE }}</td>
                    </tr>
                    <tr>
                        <th>{{ translation.hirer.table.MAP }}</th>
                        <td>{{ translation.hirer.table.FREE }}</td>
                        <td>&euro; 500 {{ translation.hirer.table.PERSC }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center cta-btn">
                <a href="./selfservice-subscribe?sub=int" class="btn-complementary-xl">{{ translation.hirer.SUBSCRIBE }}</a>
            </div>
        </div>
    </div>
</section>

{{> blogs}}

{{> contact}}