{{> supplier-nav}}

<section id="hero" class="supplier">
    <div class="hero-title">
        <h1>
            {{ translation.supplier.HERO_TEXT }}
        </h1>
    </div>
</section>

<section id="supplier-intro-1">
    <div class="container">
        <h2 class="section-title">{{ translation.supplier.INTRO_TITLE }}</h2>
        <div class="section-container">
            <p class="sub-title">{{ translation.supplier.INTRO_SUBTITLE }}</p>
            <div class="section-text">
                <p>{{ translation.supplier.INTRO_TEXT_1 }}</p>
                <button class="btn-secondary-xl">{{ translation.contact-section.MAKE_CONTACT }}</button>
            </div>
            <img src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
        </div>
    </div>
</section>

<section id="supplier-intro-2">
    <div class="container">
        <div class="section-container">
            <img src="./public/images/computeraap.png" alt="Computer Monkey">
            <div class="section-text">
                <p>{{ translation.supplier.INTRO_TEXT_2 }}</p>
                <p>{{ translation.supplier.INTRO_TEXT_3 }}</p>
                <p>{{ translation.supplier.INTRO_TEXT_4 }}</p>
                <p>{{ translation.supplier.INTRO_TEXT_5 }}</p>
                <button class="btn-secondary-xl">{{ translation.mailchimp.SUBSCRIBE_TO }}</button>
            </div>
        </div>
    </div>
</section>

<section id="supplier-options-1" class="hirer-options">
    <div class="container">
        <h2 class="section-title">{{ translation.supplier.DIFFERENT_OPTIONS }}</h2>
        <div class="section-container">
            <p class="sub-title">{{ translation.supplier.OPTIONS }}</p>
            <div class="section-text">
                <p class="section-text">{{ translation.supplier.OPTION_1 }}</p>
                <button class="btn-secondary-xl">{{ translation.contact-section.MAKE_CONTACT }}</button>
            </div>
            <img src="./public/images/puzzel-aap.png" alt="Puzzle Monkey">
        </div>
    </div>
</section>

<section id="supplier-options-2" class="hirer-options">
    <div class="container">
        <div class="section-container">
            <img src="./public/images/computeraap.png" alt="Computer Monkey">
            <div class="section-text">
                <p>{{ translation.supplier.OPTION_2 }}</p>
                <button class="btn-secondary-xl">{{ translation.mailchimp.SUBSCRIBE_TO }}</button>
            </div>
        </div>
    </div>
</section>

{{> contact}}